.navbar {
    background-color: #ecccb0;;
    color:cadetblue;
    
}
.app{
    background-color:#ecccb0 ;
}

/* .switch{
   border:2px solid black;
   width: 20vw;
    
} */

/* .nav{ */
    /* border:2px solid black; */
    /* width: auto; */
    /* background-color: oldlace; */
/* } */